<!DOCTYPE html>
<title>::Cyber Cultura::</title>
<link rel="stylesheet" href="static/css/style.css">
<html>
    <body>
      <nav class="navbar navbar-expand-md bg-dark navbar-dark">
        <div class="container">
          <a class="navbar-brand float=left">
            <img class="d-block float-left" style="width:250px" src="static/svg/logo.svg"> </a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar3SupportedContent" aria-controls="navbar3SupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
          <div class="collapse navbar-collapse text-center justify-content-center" id="navbar3SupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item" id="bt-home">
                <a class="nav-link" href="/">HOME</a>
              </li>
              <li class="nav-item" id="bt-cursos">
                <a class="nav-link" href="/cursos">Cursos</a>
              </li>
              <li class="nav-item" id="bt-servicos">
                <a class="nav-link" href="/servicos">Serviços</a>
              </li>
              <li class="nav-item" id="bt-videos">
                <a class="nav-link" href="/videos">Vídeos</a>
              </li>
              <li class="nav-item" id="bt-mensagens">
                <a class="nav-link" href="/mensagens">Mensagens</a>
              </li>
              <li class="nav-item" id="bt-eventos">
                <a class="nav-link" href="/eventos">Eventos</a>
              </li>
              <li class="nav-item" id="bt-contato">
                <a class="nav-link" href="/contato">Contato</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </body>
</html>

